@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-primary-light text-primary-dark font-inter;
}

section {
	@apply py-16 sm:py-20 min-h-[calc(100vh-90px)];
}

form :is(input, textarea) {
	@apply block tracking-wide w-full rounded-lg border-2 bg-transparent py-2 px-4 text-slate-900 placeholder:text-gray-400 focus:ring ring-gray-400 outline-transparent text-sm sm:text-base;
}

.loader {
	display: block;
	position: relative;
	height: 40px;
	width: 100px;
	box-sizing: border-box;
	overflow: hidden;
}
.loader:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 4px;
	width: 30px;
	height: 30px;
	animation: ballbns 1s ease-in infinite;
}

@keyframes ballbns {
	0% {
		left: 0;
		transform: translateX(-100%) rotate(0deg);
		border-radius: 0;
		background: #09211c;
	}
	100% {
		left: 100%;
		transform: translateX(0%) rotate(360deg);
		border-radius: 50%;
		background: #09211c;
	}
}

.form-holder::-webkit-scrollbar {
	display: none;
}

@layer components {
	.btn {
		@apply py-2 px-6 rounded-full;
	}
	.btn-primary {
		@apply bg-primary-dark shadow-md shadow-primary-dark/20 text-primary-light hover:bg-primary-text/90 transition-colors duration-200 font-semibold;
	}
	.btn-alt {
		@apply bg-primary-category shadow-md shadow-primary-dark/10 text-primary-dark hover:bg-primary-category/80 transition-colors duration-200 font-semibold;
	}

	.link {
		@apply p-2 transition-colors duration-200 border-b-2 border-b-transparent hover:border-b-primary-dark inline-block;
	}
	.link.active {
		@apply border-b-primary-dark;
	}
	.sidemenu_link {
		@apply p-2 pt-4 transition-colors w-full duration-200 border-primary-dark/10 inline-block border-b-2 hover:border-primary-dark;
	}
	.sidemenu_link.active {
		@apply border-primary-dark;
	}

	.page-heading {
		@apply text-3xl font-bold tracking-tight sm:text-4xl text-primary-dark;
	}

	.field {
		@apply flex flex-col gap-2;
	}

	.err {
		@apply text-red-600 text-[13px] font-medium;
	}
}
