@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: #bcd1cc;
}

body {
	@apply bg-primary-light text-primary-dark font-inter;
}

main section {
	@apply py-10 sm:py-20;
}

form :is(input, textarea) {
	@apply block tracking-wide w-full rounded-lg p-4 border-2 border-primary-border text-primary-dark bg-primary-card placeholder:text-gray-400 focus-within:outline-primary-dark/40 transition-colors hover:border-primary-dark/40 text-sm sm:text-base;
}

@layer components {
	.btn {
		@apply py-2 px-6 rounded-full;
	}
	.btn-primary {
		@apply bg-primary-dark shadow-md shadow-primary-dark/20 text-primary-light hover:bg-primary-dark/90 transition-colors duration-200 font-semibold;
	}
	.btn-alt {
		@apply bg-primary-dark/10 hover:bg-primary-dark/20 text-primary-dark/80 shadow-md shadow-primary-dark/10 text-primary-dark transition-colors duration-200 font-semibold;
	}

	.link {
		@apply p-2 transition-colors duration-200 border-b-2 border-b-transparent hover:border-b-primary-dark inline-block;
	}
	.link.active {
		@apply border-b-primary-dark;
	}
	.sidemenu_link {
		@apply p-2 pt-4 transition-colors w-full duration-200 border-primary-dark/10 inline-block border-b-2 hover:border-primary-dark;
	}
	.sidemenu_link.active {
		@apply border-primary-dark;
	}

	.page-heading {
		@apply text-3xl font-bold tracking-tight sm:text-4xl text-primary-dark;
	}

	.field {
		@apply flex flex-col gap-2;
	}

	.err {
		@apply text-red-600 text-[13px] font-medium;
	}
}
